
<!-- Start Welcome area -->
<div th:include="header"></div>
<!-- Mobile Menu end -->
<!-- <div class="breadcome-area">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="breadcome-list single-page-breadcome">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							
						</div>
					
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->
<div class="mailbox-area mg-tb-15">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3 col-md-3 col-sm-3 col-xs-12">
				<div class="hpanel responsive-mg-b-30">
                            <div class="panel-body-inbox">
                                <a th:href="@{/admin/composemail}" class="btn btn-success compose-btn btn-block m-b-md">Compose</a>
                                <ul class="mailbox-list">
                                    <li>
                                        <a th:href="@{/admin/mailinbox}">
												<span class="pull-right" th:text=${data}>0</span>
												<i class="fa fa-envelope"></i> Inbox
											</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-paper-plane"></i> Sent</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-pencil"></i> Draft</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-trash"></i> Trash</a>
                                    </li>
                                </ul>
                                <hr>
                                <ul class="mailbox-list">
                                    <li>
                                        <a href="#"><i class="fa fa-plane text-danger"></i> Travel</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-bar-chart text-warning"></i> Finance</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-users text-info"></i> Social</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-tag text-success"></i> Promos</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-flag text-primary"></i> Updates</a>
                                    </li>
                                </ul>
                                <hr>
                                <ul class="mailbox-list">
                                    <li>
                                        <a href="#"><i class="fa fa-gears"></i> Settings</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-info-circle"></i> Support</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
			</div>
			<div class="col-md-9 col-md-9 col-sm-9 col-xs-12">
				<div class="hpanel mg-b-15">
					<div class="panel-heading hbuilt mailbox-hd">
						<div class="text-center p-xs font-normal">
							<div class="input-group">
								<input type="text" class="form-control input-sm"
									placeholder="Search email in your inbox..."> <span
									class="input-group-btn">
									<button type="button" class="btn btn-sm btn-default">Search
									</button>
								</span>
							</div>
						</div>
					</div>
					<div class="panel-body" style="margin-left: 0px;">
						<div class="row">
							<div class="col-md-6 col-md-6 col-sm-6 col-xs-12 mg-b-15">
								<div class="btn-group">
									<button class="btn btn-default btn-sm">
										<i class="fa fa-refresh"></i> Refresh
									</button>
									<button class="btn btn-default btn-sm">
										<i class="fa fa-eye"></i>
									</button>
									<button class="btn btn-default btn-sm">
										<i class="fa fa-exclamation"></i>
									</button>
									<button class="btn btn-default btn-sm">
										<i class="fa fa-trash-o"></i>
									</button>
									<button class="btn btn-default btn-sm">
										<i class="fa fa-check"></i>
									</button>
									<button class="btn btn-default btn-sm">
										<i class="fa fa-tag"></i>
									</button>
								</div>
							</div>
							<div
								class="col-md-6 col-md-6 col-sm-6 col-xs-12 mailbox-pagination mg-b-15">
								<div class="btn-group">
									<button class="btn btn-default btn-sm">
										<i class="fa fa-arrow-left"></i>
									</button>
									<button class="btn btn-default btn-sm">
										<i class="fa fa-arrow-right"></i>
									</button>
								</div>
							</div>
						</div>
						<div class="table-responsive">
							<table class="table table-hover table-mailbox">
								<tbody>

									<tr class="unread" th:each="user,status:${list}">
										<td class="">
											<div class="checkbox checkbox-single checkbox-success">
												<input type="checkbox" checked> <label></label>
											</div>
										</td>
                                       
										<td><a th:href="@{/admin/readMail/{id}(id=${user.id})}" th:text="${user.name}"></a></td>
										<td><a th:href="@{/admin/Viewmail}" th:text="${user.message}"></a></td>
										<td><a th:href="@{/admin/Viewmail}" th:text="${user.createdDate}"></a></td>
										<td><a th:href="@{/admin/Viewmail}" th:text="${user.email}"></a></td>

									</tr>

								</tbody>
							</table>
						</div>
					</div>
					<div class="panel-footer">
						<i class="fa fa-eye"> </i> 6 unread
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div th:include="footer"></div>