<div th:include="header"></div>

<div class="product-status mg-b-30">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="product-status-wrap">
					<h4>User Details</h4>

					<div class="row">
						<div class="col-sm-6">
							<span class="input-group-addon" th:text="${editinfo.username}"></span>

						</div>
						<div class="col-sm-6">
							<span class="input-group-addon" th:text="${editinfo.firstname}"></span>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="product-status-wrap">


					<div class="row">
						<div class="col-sm-6">
							<span class="input-group-addon" th:text="${editinfo.lastname}"></span>

						</div>
						<div class="col-sm-6">
							<span class="input-group-addon" th:text="${editinfo.email}"></span>
						</div>
					</div>
					<div class="row" style="margin-top: 10px;">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="text-center custom-pro-edt-ds">
								<a th:href="@{/admin/payment}">
									<button type="submit"
										class="btn btn-ctl-bt waves-effect waves-light m-r-10">Payment
									</button>
								</a>
								<button type="submit"
									class="btn btn-ctl-bt waves-effect waves-light">Cancel
								</button>
							</div>
						</div>
					</div>

				</div>

			</div>


		</div>
	</div>
</div>


<div th:include="footer"></div>